@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400");

body {
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    color: #4c4c4c;
}

p,
.paragraph {
    font-weight: 400;
    color: #4c4c4c;
    font-size: 15px;
    line-height: 1.8;
    font-family: "Roboto", sans-serif;
}

p-lg,
.paragraph-lg {
    font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: "Playfair Display", serif;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: 80px;
}

@media (max-width: 991px) {

    h1,
    .h1 {
        font-size: 65px;
    }
}

h2,
.h2 {
    font-size: 60px;
}

@media (max-width: 991px) {

    h2,
    .h2 {
        font-size: 50px;
    }
}

h3,
.h3 {
    font-size: 40px;
}

h4,
.h4 {
    font-size: 22px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 14px;
}

/* Button style */
.btn {
    font-size: 22px;
    font-family: "Playfair Display", serif;
    text-transform: capitalize;
    padding: 16px 44px;
    border-radius: 5px;
    font-weight: 600;
    border: 0;
    position: relative;
    z-index: 1;
    transition: 0.2s ease;
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.btn:active {
    box-shadow: none;
}

.btn-sm {
    font-size: 15px;
    padding: 10px 30px;
}

.btn-xs {
    padding: 5px 10px;
    font-size: 15px;
}

.btn-primary {
    background: #41228e;
    color: #fff;
}

.btn-primary:active {
    background: #542cb7 !important;
}

.btn-primary:hover {
    background: #542cb7;
}

.btn-primary.focus,
.btn-primary.active {
    background: #542cb7 !important;
    box-shadow: none !important;
}

.btn-transparent {
    background: transparent;
    color: #41228e;
    font-weight: bold;
}

.btn-transparent:active,
.btn-transparent:hover {
    color: #41228e;
}

label {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: "Playfair Display", serif;
}

.checkbox>label {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}
